{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h1 class="text-center">Add file</h1>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-lg btn-info" >Upload</button>
        </form>
    </div>
</div>
{% endblock content %}